* {
    margin:0;
}

body {
    font-family: 'Varela', sans-serif;
}

nav {
    background-color:#3B3539;
    height:9vh;
    width:100%;
}

.nav-1 {
    display:flex;
}

nav img {
    height:80px;
    padding:15px;
}

.nav-section-1 {
    width:40%;
}

nav h1 {
    padding:15px;
    font-family: 'Unica One', cursive;
    color:white;
    font-size:36px;
    padding-top: 25px;
}