* {
    margin:0;
    box-sizing: border-box;
}

body {
    font-family: 'Varela', sans-serif;
    background-color:#F5F5F5;
}

nav {
    background-color:#3B3539;
    height:9vh;
    width:100%;
}

footer {
    width:100%;
    height:25vh;
    margin-top:15vh;
    background-color: #3B3539;
}

.nav-1 {
    display:flex;
}

nav img {
    height:6em;
    padding:15px;
}

.nav-section-1 {
    width:40%;
}

nav h1 {
    padding:15px;
    font-family: 'Unica One', cursive;
    color:white;
    font-size:36px;
    padding-top: 25px;
}

.flex-1  {
    display:flex;
}

.box {
    background-color: #E0E0E0;
    border-radius:20px;
    margin-top: 20px;
    height:4vh;
    font-family: 'Varela', sans-serif;
    width:40%;
    margin-left:30px;
    font-size: large;
}

.PP {
    width:10%;
    height:6vh;
    background-color: #E0E0E0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

input {
    background-color: #E0E0E0;
    border-radius:20px;
    height:4vh;
    font-family: 'Varela', sans-serif;
    width:40%;
    margin-left:30px;
    font-size: large;
}

#box-3 :first-child {
    margin-top: 250px;
}

#box-3 h2, p {
    padding-left: 50px;;
}

.hero {
    height:55vh;
    width:80%;
    background-image: url(img/hero.jpg);
    background-size:contain;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    margin:0 auto;
    box-shadow: 2px 2px 4px rgb(144, 144, 144);
    }

.text-1 h2 {
    font-size: 55px;
    text-align: left;
}


.flex-2 {
    display:flex;
    justify-content: center;
    width:90%;
}


.flex-3, .flex-4 {
    display:flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom:12vh;
}

#four {
    display:flex;
}

.text-1 {
    margin-top:1em;
    color:#57514F;
    font-size:24px;
    justify-content: right;
    text-align: left;
    margin-bottom: 3em;
}

.top-box {
    height:400px;
    position: absolute;
    /* margin-left:100px;
    margin-right:100px; */
    width:50%;
    border-radius:20px;
    align-items: center;
   
    background-size:contain;
    background-attachment: fixed;
    box-shadow: 2px 2px 4px rgb(144, 144, 144);
} 

#one {
    background-image: url(img/img-3.jpg);
}

#two {
    background-image: url(img/img-3.jpg);

}

#three {
    background-image: url(img/img-4jpg);
}

#four {
    background-image: url(img/img-5.jpg);
}

#five {
    background-image: url(img/img-6.jpg);
}

#six {
    background-image: url(img/img-7.jpg);
}

#box-1 {
    position: relative;
    width: 65%;
    margin-top: 200px;
    /* display:flex; */
    height:500px;
    background: #57514F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-bottom:12vh;
    }

#box-4 {
    position: relative;
    width: 65%;
    margin-top: 200px;
    /* display:flex; */
    height:fit-content;
    background: #57514F;
    color:white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-bottom:12vh;
} 

#light {
    background-color: rgba(217, 217, 217, 0.5);
}

#dark {
    background-color: #97979780;
}

.deduct-details {
    position: relative;
    width: 100%;
    height: 122px;
    
}

#box-4 h3 {
    padding:40px;
    text-align: left;
    font-size:24px;
}

#box-4 h2 {
    padding:30px;
    margin-top:200px;
}

/* #box-3 h2 :first-child {
    margin-top: 200px;
} */

/* #top-box-2 {
    height:400px;
    position: absolute;
    /* margin-left:100px;
    margin-right:100px; 
    width:50%;
    border-radius:20px;
    align-items: center;
    background-image: url(img/img-4.jpg);
    background-size:contain;
    background-attachment: fixed;
    box-shadow: 2px 2px 4px rgb(144, 144, 144);
    }  */

#box-2 {
    position: relative;
    width: 65%;
    margin-top: 200px;
    /* display:flex; */
    height:600px;
    background-color: #835652;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    }
    

#box-1 h2 {
    color:white;
    padding:30px;
    margin-top:200px;
}


#top-box-3 {
    height:400px;
    position: absolute;
    /* margin-left:100px;
    margin-right:100px; */
    width:50%;
    border-radius:20px;
    align-items: center;
    background-image: url(img/img-5.jpg);
    background-size:contain;
    background-attachment: fixed;
    box-shadow: 2px 2px 4px rgb(144, 144, 144);
    } 

#box-3 {
    position: relative;
    width: 65%;
    margin-top: 200px;
    /* display:flex; */
    height:600px;
    color:white;
    background-color: #835652;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    }
    
.footer-1, .footer-2 {
    display:flex;
    width:50%;
}

footer img {
    height:15em;
    padding-left:65px;
    padding-top:65px;
}

footer h2 {
    font-family: 'Unica One', cursive;
}

.class-25 {
    width:25%;
    flex-direction: column;
}

    /* <h2>Gross Annual Income</h2>
        <h2>Gross Monthly Income</h2> */